<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    
    <title>设备信息查询</title>
    <link rel='stylesheet' href='/stylesheets/stylesheets.css' />
    <link rel='stylesheet' href='/stylesheets/timepicker.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap-fileupload.css' />
    <link rel='stylesheet' href='/stylesheets/jquery/ui.css' />
    <link rel="stylesheet" href="/stylesheets/jquery/jquery.datetimepicker.css"/>
    <link rel='stylesheet' href='/stylesheets/epiechart/jquery.easy-pie-chart.css' />
    <link rel='stylesheet' href='/stylesheets/fancybox/jquery.fancybox.css' />
    <link rel='stylesheet' href='/stylesheets/uniform/uniform.css' />
    <link rel='stylesheet' href='/stylesheets/select/select.css' />
    <link rel='stylesheet' href='/stylesheets/tagsinput/jquery.tagsinput.css' />
    <link rel='stylesheet' href='/stylesheets/multiselect/multiselect.css' />
    <link rel='stylesheet' href='/stylesheets/validation/validationEngine.jquery.css' />
    <link rel='stylesheet' href='/stylesheets/stepywizard/jquery.stepy.css' />
    <link rel='stylesheet' href='/stylesheets/mcustomscrollbar/mCustomScrollbar.css' />
    <link rel='stylesheet' href='/stylesheets/cleditor/cleditor.css' />
    <link rel='stylesheet' href='/stylesheets/shbrush/shCoreDefault.css' />
    <link rel='stylesheet' href='/stylesheets/shbrush/shThemeDefault.css' />
    <link rel='stylesheet' href='/stylesheets/icons.css' />
    <link rel='stylesheet' href='/stylesheets/styling.css' />
    <link rel='stylesheet' href='/stylesheets/stylesheet.css' />
    <link rel='stylesheet' href='/stylesheets/opera.css' />
    <link rel='stylesheet' href='/stylesheets/mystyles.css' />

    <script type='text/javascript' src='/javascripts/plugins/jquery/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='/javascripts/plugins/jquery/jquery-ui-1.10.0.custom.js'></script>
    <script type='text/javascript' src='/javascripts/plugins/jquery/jquery.datetimepicker.js'></script>
    <script type='text/javascript' src='/javascripts/plugins/jquery/jquery-migrate-1.1.1.min.js'></script>
    <script type='text/javascript' src='/javascripts/plugins/jquery/globalize.js'></script>
    <script type='text/javascript' src='/javascripts/plugins/other/excanvas.js'></script>
    <script type='text/javascript' src='/javascripts/plugins/other/jquery.mousewheel.min.js'></script>
    <script type='text/javascript' src='/javascripts/plugins/bootstrap/bootstrap.min.js'></script>
    <script type='text/javascript' src='/javascripts/plugins/cookies/jquery.cookies.2.2.0.min.js'></script>
    <script type='text/javascript' src="/javascripts/plugins/uniform/jquery.uniform.min.js"></script>
    <script type='text/javascript' src='/javascripts/plugins/datatables/jquery.dataTables.min.js'></script> 
    <script type='text/javascript' src='/javascripts/plugins/shbrush/XRegExp.js'></script>
    <script type='text/javascript' src='/javascripts/plugins/shbrush/shCore.js'></script>
    <script type='text/javascript' src='/javascripts/plugins/shbrush/shBrushXml.js'></script>
    <script type='text/javascript' src='/javascripts/plugins/shbrush/shBrushJScript.js'></script>
    <script type='text/javascript' src='/javascripts/plugins/shbrush/shBrushCss.js'></script>
    <script type='text/javascript' src='/javascripts/plugins.js'></script>
    <script type='text/javascript' src='/javascripts/actions.js'></script>

    <script type='text/javascript' src='/javascripts/local/DeviceInfoQuery.js'></script>

</head>
<body>
    <!--加载页面动画 begin-->
    <div id="loader"><img src="/img/loader.gif"/></div>
    <!--加载页面动画 end-->
    <!--wrapper begin-->
    <div class="wrapper">
        <!--工具条 begin-->
        <div class="sidebar">
            <div class="top">
                <h2 style="color: white">网管系统</h2>
            </div>
            <div class="user">
                <a href="#" class="name">
                    <span>李四</span>
                    <span class="sm">测试组</span>
                </a>
            </div>
            <div class="nContainer">
                <ul class="navigation">
                    <li class="active"><a href="/TopTopology" class="blyellow">系统拓扑</a></li>
                    <li class="active"><a href="/SubTopology:10" class="blgreen">子系统拓扑</a></li>
                    <li class="active"><a href="/CheckBox:1" class="blred">机柜图</a></li>
                    <li class="active"><a href="/DeviceCurrStatusQuery" class="blyellow">设备实时状态</a></li>
                    <li class="active"><a href="/AppCurrStatusQuery" class="blgreen">模块实时状态</a></li>
                    <li class="active"><a href="/DeviceAlarmQuery" class="blred">设备报警查询</a></li>
                    <li class="active">
                        <a href="#" class="bldblue">文件完整性检查</a>
                        <div class="open"></div>
                        <ul>
                            <li><a href="/FileCheckManagement">文件完整性检查管理</a></li>
                            <li><a href="/FileCheckResult">查看文件完整性检查情况</a></li>
                            <li><a href="/FileAlarmQuery">文件完整性报警查询</a></li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="#" class="blpurple">磁盘阵列检查</a>
                        <div class="open"></div>
                        <ul>
                            <li><a href="/DiskCheckManagement">磁盘阵列管理</a></li>
                            <li><a href="/DiskAlarmQuery">磁盘阵列报警查询</a></li>
                        </ul>
                    </li>
                    <li class="active"><a href="/AlarmSwitch" class="blorange">网管报警开关</a></li>
                    <li class="active"><a href="/DeviceInfoQuery" class="blblue">设备信息查询</a></li>
                    <li class="active"><a href="/Telephone" class="blorange">常用电话</a></li>
                </ul>
                <a class="close">
                    <span class="ico-remove"></span>
                </a>
            </div>
            <div class="widget">
                <div class="datepicker"></div>
            </div>
        </div>
        <!--工具条 end-->

        <div class="body">
            <div class="content">
                <div class="page-header">
                    <div class="icon" style="visibility:hidden;">
                        <span class="ico-folder"></span>
                    </div>
                    <h2>设备信息查询</h2>
                </div>

                <div class="row-fluid">
                    <div class="span12">
                        <div class="block">
                            <table class="table" cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                <tr>
                                    <td width="10%">设备名称</td>
                                    <td width="10%">
                                        <input id="devicename" name="devicename" type="text"/>
                                    </td>
                                    <td widht="2%"></td>
                                    <td width="10%">设备类型</td>
                                    <td width="10%">
                                        <select id="devicetype" name="devicetype">
                                            <option value="">请选择</option>
                                            <option value="有源公分">有源公分</option>
                                            <option value="频谱仪">频谱仪</option>
                                            <option value="SCM服务器">SCM服务器</option>
                                            <option value="频谱全景显示">频谱全景显示</option>
                                            <option value="信道检测卡">信道检测卡</option>
                                            <option value="信道全景显示">信道全景显示</option>
                                            <option value="卫星接收机">卫星接收机</option>
                                            <option value="解复用器">解复用器</option>
                                            <option value="码流监测服务器">码流监测服务器</option>
                                            <option value="网管服务器">网管服务器</option>
                                            <option value="多画面检测仪">多画面检测仪</option>
                                            <option value="大屏控制器">大屏控制器</option>
                                            <option value="电话传真服务器">电话传真服务器</option>
                                            <option value="GPS校时服务器">GPS校时服务器</option>
                                            <option value="码流录制服务器">码流录制服务器</option>
                                            <option value="码流拼接下载服务器">码流拼接下载服务器</option>
                                            <option value="转码服务器">转码服务器</option>
                                            <option value="Red5流媒体发布服务器">Red5流媒体发布服务器</option>
                                            <option value="外部流媒体转发服务器">外部流媒体转发服务器</option>
                                            <option value="文件拼接下载服务器">文件拼接下载服务器</option>
                                            <option value="数据中心文件转存服务器">数据中心文件转存服务器</option>
                                            <option value="业务与应用平台服务器">业务与应用平台服务器</option>
                                            <option value="内容监测服务器">内容监测服务器</option>
                                            <option value="ZDS设备">ZDS设备</option>
                                            <option value="卫星接收机组">卫星接收机组</option>
                                            <option value="切换矩阵">切换矩阵</option>
                                            <option value="天线控制器">天线控制器</option>
                                            <option value="全景监测服务器">全景监测服务器</option>
                                            <option value="地面信号接收机">地面信号接收机</option>
                                            <option value="地面信号处理服务器">地面信号处理服务器</option>
                                            <option value="交换机">交换机</option>
                                            <option value="日立阵列ASM1000">日立阵列ASM1000</option>
                                            <option value="浪潮阵列">浪潮阵列</option>
                                        </select>
                                    </td>
                                    <td widht="2%"></td>
                                    <td width="10%">所属子系统</td>
                                    <td width="10%">
                                        <select id="subsys" name="subsys">
                                            <option value="">请选择</option>
                                            <option value="信道监测子系统">信道监测子系统</option>
                                            <option value="采集转码子系统">采集转码子系统</option>
                                            <option value="频谱监测子系统">频谱监测子系统</option>
                                            <option value="有源公分组">有源公分组</option>
                                            <option value="解调子系统">解调子系统</option>
                                            <option value="码流监测子系统">码流监测子系统</option>
                                            <option value="维护管理子系统">维护管理子系统</option>
                                            <option value="音视频监测子系统">音视频监测子系统</option>
                                            <option value="电话语音子系统">电话语音子系统</option>
                                            <option value="GPS校时子系统">GPS校时子系统</option>
                                            <option value="码流录制子系统">码流录制子系统</option>
                                            <option value="业务与应用控制平台子系统">业务与应用控制平台子系统</option>
                                            <option value="内容监测子系统">内容监测子系统</option>
                                            <option value="载波与信道干扰监测子系统">载波与信道干扰监测子系统</option>
                                            <option value="地面开路信号接收分配子系统">地面开路信号接收分配子系统</option>
                                            <option value="交换机组">交换机组</option>
                                            <option value="磁盘阵列">磁盘阵列</option>
                                        </select>
                                    </td>
                                    <td widht="2%"></td>
                                    <td width="10%">设备IP</td>
                                    <td width="10%">
                                        <input id="deviceIP" name="deviceIP"/>
                                    </td>
                                    <td>
                                        <button class="btn" type="button" onclick="queryDeviceStatus()">查询</button>
                                        <button class="btn" type="button">报表</button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--设备列表 begin-->
                <div class="row-fluid">
                    <div class="span12">
                        <div class="block">
                            <div class="head blue">
                                <h2>设备列表</h2>
                            </div>

                            <div style="height: 950px; overflow-y: scroll; clear: right;" class="data-fluid">
                                <table class="table dtable lcnp" cellpadding="0" cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th><input type="checkbox" class="checkall"/></th>
                                        <th>设备名称</th>
                                        <th>设备类型</th>
                                        <th>设备位置</th>
                                        <th>所属子系统</th>
                                        <th>设备IP地址</th>
                                        <th>设备位置</th>
                                        <th>供应商</th>
                                        <th>业务信息</th>
                                        <th>备注</th>
                                        <th width="1%"></th>
                                    </tr>
                                    </thead>
                                    <tbody id="deviceList">
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--设备列表 end-->

            </div>
        </div>
    </div>
    <!--wrapper end-->
    
</body>
</html>