<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <script type='text/javascript' src='/javascripts/plugins/datatables/jquery.dataTables.min.js'></script>
    <script type='text/javascript' src='/javascripts/plugins/jquery/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='/javascripts/plugins/jquery/jquery-ui-1.10.0.custom.js'></script>
    <script type='text/javascript' src='/javascripts/plugins/bootstrap/bootstrap.min.js'></script>
    <link rel='stylesheet' href='/stylesheets/bootstrap/bootstrap.min.css' />
    <script type='text/javascript' src='/javascripts/local/test.js'></script>
</head>
<body>
	<div class="block" style="height: 250px; overflow-y: scroll; clear: right;">
        <!-- 拓扑图div start-->
        <table class="table dtable lcnp" cellpadding="0" cellspacing="0" width="100%">
            <tbody id="Tuopudiv">
                <tr>
                    <td id="11">11</td>
                    <td id="12">12</td>
                    <td id="13">13</td>
                    <td id="14">14</td>
                    <td id="15">15</td>
                    <td>
                        <button btn-warning type="button" onclick="show()">点我</button>
                    </td>
                    <td id="17">17</td>
                    <td id="18">18</td>
                    <td id="19">19</td>
                </tr>
                <tr>
                    <td id="21">11</td>
                    <td id="22">12</td>
                    <td id="23">13</td>
                    <td id="24">14</td>
                    <td id="25">15</td>
                    <td id="26">16</td>
                    <td id="27">17</td>
                    <td id="28">18</td>
                    <td id="29">19</td>
                </tr>
            </tbody>
        </table>
    </div>

